* {
  margin: 0;
  padding: 0;
}
/* Common */
.btn {
  padding: 15px 30px;
  border-radius: 60px;
  font-weight: bold;
  background-color: #e9b44c;
  border: none;
}
/* Nav Section */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #2e2622;
  padding: 15px 8%;
  align-items: center;
}
.nav-right ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-right ul li a {
  text-decoration: none;
  color: white;
}
/* Header Section */
header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/bg-image.avif);
  height: 610px;
  /* width: 1440px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header section div h2 {
  color: #fbf6ef;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Our Story Section */
.main-container {
  background-color: #f8f4ef;
}
.story-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  gap: 30px;
  padding: 80px 120px;
}
/* Popular Picks Section */
.top-tex {
  align-items: center;
  text-align: center;
}
.top-tex p {
  color: #e9b44c;
  margin-bottom: 8px;
}
.top-tex h2 {
  font-size: 30px;
}
.popular-picks-mani-div {
  padding: 90px;
  background-color: #f1e7d8;
  
}
.box-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}
.popular-box {
  background-color: white;
  /* height: 260px; */
  padding: 50px 20px;
  border-radius: 20px;
  margin-top: 50px;
}
.pclr{
  color: #e9b44c;
  font-weight: bold;
  margin-top: 20px;
}
.popular-box img{
  margin-bottom: 15px;
}
/* What Makes Section */
.top-tex2 {
  align-items: center;
  text-align: center;
}
.top-tex2 p {
  color: #e9b44c;
  margin-bottom: 8px;
}
.top-tex2 h2 {
  font-size: 30px;
}
.popular-picks-mani-div2 {
  padding: 90px;
  background-color: #f8f4ef;
  
}
.box-main2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}
.popular-box2 {
  padding: 50px 20px;
  border-radius: 20px;
  margin-top: 50px;
}
.pclr2{
  color: #e9b44c;
  font-weight: bold;
  margin-top: 20px;
}
.popular-box2 img{
  margin-bottom: 15px;
}
/* Table Section */
.table-top-tex{
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.table-top-tex p{
  color: #e9b44c;
  margin-bottom: 15px;
}
.table-top-tex h2{
  font-size: 30px;
}
.Table-body-div{
  text-align: center;
  justify-content: center;
  align-items: center;
}